.card {
	border-radius: 40px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	height: 100%;
}

@media screen and (min-width: 1024px) {
	.card {
		padding: 40px;
	}
}

.cardLight {
	background-color: var(--white);
}

.cardDark {
	background-color: var(--mine-shaft);
	color: var(--white);
}

.cardCarousel {
}

.cardProject {
	background-color: var(--white);
}

.description {
	flex: 1;
	overflow-y: auto;
	padding-right: 15px;
	font-size: 18px;
	line-height: 1.6;
	min-height: 0;
	color: #a1a1aa;
	font-weight: 400;
}

.titleWrapper {
	display: flex;
	align-items: center;
	gap: 12px;
}

.titleWrapper h2 {
	font-weight: 600;
	color: #a1a1aa;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
