.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1100px;
  margin: auto;
  padding: 25px;
}

.content {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, minmax(auto, 48%));
  gap: 25px;
  width: 100%;
  height: 90vh;
  min-height: 700px;
  max-height: 750px;
}

.cardAbout {
  grid-column: span 5;
  grid-row: auto;
}

.cardCarousel {
  grid-column: span 9;
  grid-row: auto;
}

.customStartCardWrapper {
  padding: 60px 25px 20px;
  grid-column: span 7;
  grid-row: auto;
}

.name {
  color: var(--alto);
  font-size: 58px;
}

.description {
  color: var(--alto);
  font-size: 38px;
}

.customCardPersonalWrapper {
  grid-row: auto;
  grid-column: span 4;
}

.personalImageWrapper {
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.personalImageWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.personalImage {
  object-fit: cover;
}

.personalImageWrapper:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.personalImageWrapper:hover .socialMediasWrapper {
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px;
}

.personalImageWrapper:hover .socialMedia {
  padding: 9px;
}

.socialMediasWrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 35px 35px;
  grid-template-rows: 35px;
  bottom: 10%;
  left: 0;
  right: 0;
  justify-content: center;
  gap: 10px;
  z-index: 2;
  transition: all 0.5s ease;
}

.socialMedia {
  background-color: black;
  border-radius: 50px;
  position: relative;
  padding: 5px;
}

.iconWrapper {
  position: relative;
  height: 100%;
}

.workCardWrapper {
  grid-column: span 7;
  grid-row: auto;
  padding: 20px 25px 35px;
  border-radius: 40px;
  background-color: var(--alto);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.worksWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
  padding-right: 10px;
}

.work {
  display: flex;
  align-items: center;
  gap: 15px;
}

.workIconWrapper {
  padding: 5px;
  border-radius: 50px;
}

.workIconContainer {
  position: relative;
  width: 50px;
  height: 50px;
}

.workTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.workTitle {
  font-size: 20px;
}

.workSubtitle {
  font-size: 18px;
}

.workTime {
  font-size: 18px;
}
