:root {
	--cod-gray: #181818;
	--white: #fff;
	--mine-shaft: #333333;
	--alto: #d4d4d4;
	--black: #000;
	--amber-hex: #d67711;
	--amber-filter: brightness(0) saturate(100%) invert(54%) sepia(49%)
		saturate(1915%) hue-rotate(351deg) brightness(87%) contrast(89%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	background-color: var(--cod-gray);
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Inter", sans-serif;
	color: var(--white);
}

a {
	color: inherit;
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--cod-gray);
}

::-webkit-scrollbar-track-piece {
	background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
